@charset "UTF-8"

body {
    font-family: "Hiragino Kaku Gothic Pro", "Meiryo", sans-serif;
    font-size: 15px;
    border-top: 10px solid #79a1b1 !important;
}

a {
    text-decoration: :none;
    color: #333;
}

.logo {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
}
.logo img {
    display: inline-block;
    margin-bottom: 5px;
}

.header {
    width: 1200px;
    margin: 0 auto;
}

.header ul {
    display: flex;
}

.header ul li {
    width: 200px;
    text-align: center;
    border-right: 1px solid #ddd;
}

.header ul li:first-child {
    border-left: 1px solid #ddd;
}

.header ul li a {
    display:block;
}

.header_image {
    margin-top: 15px; 
    text-align: center;
}

.header_image img{
    display: inline-block;
}
